**/.cpcache
**/.rebel_readline_history
**/.nrepl-port
**/target/*/**
**/log/*
!**/target/*/.gitkeep
**/data

**/*.map

# pack'd output
/*.jar
**/*.jar

**/.vscode
**/.clj-kondo/.cache

### Node ###
node_modules
# Logs
logs
*.log
.npm
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

