@import "foundation";

body {
    --primary: #2290ff;
}

a {
    cursor: pointer;
}

.card {
    box-shadow: 0 0 17px -5px hsla(0, 0%, 62.7%, 0.95);
    background: white;
    border-radius: 3px;
}

.asset-types {
    display: flex;
    margin: 1em 0;
}

.asset-type {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1em;
    height: 30px;
    width: 120px;

    i {
        padding-left: 10px;
    }

    &--active {
        background: var(--primary);
        color: white;
    }
}

.form-control {
    width: 50%;
}
