@import "foundation";
@import 'base';
@import 'custom-style';

// devcards
.com-rigsomelight-devcards-container {
    width: auto !important;
    max-width: 1300px;
}

// app

body {
    --headerBackgroundColor: white;
    --headerWidth: 100%;
    --headerHeight: 64px;
    --tabsHeight: 45px;
    --navWidth: 76px;
    --headerLeft: 76px;
    --detailsSidebarWidth: 18%;
    --detailsSidebarMinWidth: 200px;
    --navMenuItemTitleMargin: 3px 0 0 0;
    --navMenuItemFlexDirection: column;
    --navMenuItemIconMargin: 0.2em calc(var(--navWidth) / 4);
    --navMenuItemPadding: 20px 0;
    --navMenuItemTitleFontSize: 11px;
    --navMenuItemJustifyContent: center;
    --navMenuItemTitleDisplay: block;
    --navLogoPadding: 1em 0;
    --navCompanyInfoDisplay: none;
    --navProfileDisplay: none;
    --closeNav: none;
    --navLogoWidth: 100%;
    --menuProfilePadding: 0;
    --pageContentPadding: 3rem;
    --pageBackground: #eeeeee;
    --headerContentPadding: var(--pageContentPadding);
    --navBackgroundColor: black;
    --paragraphTextColor: black;
    --headerIconsColor: black;
    --headerIconsFontSize: 1em;
    --mobileLarge: 600px;

    font-family: 'Open Sans',Helvetica,Arial,sans-serif;
    font-size: 12px;
    font-weight: 400;
    background: var(--pageBackground);
    line-height: 14px;
    color: var(--paragraphTextColor);
    -webkit-font-smoothing: antialiased;
    padding-top: var(--headerHeight);
}

@include media ("<810px") {
    body {
        --detailsSidebarWidth: 0;
    }
}

@include media ("<m") {
    body {
        --headerBackgroundColor: black;
        --headerHeight: 70px;
        --headerContentPadding: 0;
        --navWidth: 100%;
        --headerLeft: 0;
        --navMenuItemTitleMargin: 0 0 0 10px;
        --navMenuItemFlexDirection: row;
        --navMenuItemIconMargin: 0 0 0 15px;
        --navMenuItemPadding: 14px 0;
        --navMenuItemTitleFontSize: 16px;
        --navMenuItemJustifyContent: flex-start;
        --navMenuItemTitleDisplay: block;
        --navProfileDisplay: block;
        --navCompanyInfoDisplay: block;
        --navLogoBorderBottom: none;
        --navLogoPadding: 0 20px 0 10px;
        --navLogoWidth: 44px;
        --closeNav: block;
        --menuProfilePadding: 0 10px;
        --headerIconsColor: var(--color-contrast-medium);
        --headerIconsFontSize: 2em;
    }
}

*, *:after, *:before {
    box-sizing: border-box;
}

h1, h2, h3, h4, p {
    margin: 0;
    padding: 0;
}

a, button, div, h1, h2, h3, input, select, span, textarea {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
}

a {
    cursor: pointer;
}

.header {
    height: var(--headerHeight);
    position: fixed;
    padding-left: var(--headerLeft);
    box-sizing: border-box;
    width: var(--headerWidth);
    right: 0;
    top: 0;
    z-index: 13;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
    transition: padding-left 250ms ease-in-out;
    &__container {
        border-radius: 10px 0 0 0;
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
        justify-content: space-between;
        background: var(--headerBackgroundColor);
        padding-left: var(--headerContentPadding);
    }
    &__nav {
        overflow: hidden;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
    }
    &__icons {
        font-size: var(--headerIconsFontSize);
        display: flex;
        align-items: center;
        padding-right: 20px;
        margin-left: auto;
        & a {
            color: var(--headerIconsColor);
        }
        :not(:last-child) {
            margin-right: var(--space-md);
        }
    }
    &--mobile {
        display: none;
    }
}

@include media ("<m") {
    .header {
        border-radius: 0;
        &__nav {
            display: none;
        }
        &--mobile {
            display: block;
        }
    }
}

.nav {
    width: var(--navWidth);
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    transition: background-color 120ms ease-in-out,width 250ms ease-in-out,left 300ms;
    z-index: 14;
    background: var(--navBackgroundColor);
}



@include media ("<m") {
    .nav {
        left:  -100%;
        &.open {
            left: 0;
        }
    }
}

.mobile-logo {
    display: none;
}

@include media ("<m") {
    .mobile-logo {
        display: block;
    }
}


.logo {
    font-size: 10px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    width: calc(var(--navLogoWidth) + var(--navLogoPadding));
    height: var(--headerHeight);
    padding: var(--navLogoPadding);
}

.logo-img {
    width: 44px;
    max-width: 44px;
    max-height: 44px;
    &--mobile {
        display: none;
    }
}


@include media ("<m") {
    .logo-img {
        display: none;
    }
}

@include media ("<m") {
    .logo-img--mobile {
        display: block;
        width: 120px;
    }
}

.close-nav {
    display: var(--closeNav);
    cursor: pointer;
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 20px;
    color: #cccccc;
    padding: 20px;
}



.menu {
    box-sizing: border-box;
    color: white;
    height: 100%;
    left: 0;
    overflow-y: auto;
    padding: 10px 0 0;
    position: static;
    top: 0;
    transition: background-color 120ms ease-in-out,padding-top .6s ease-in-out,width 250ms ease-in-out;
    width: var(--navWidth);

    ul {
        list-style: none;
        margin: 2em 0 0;
        opacity: 1;
        padding: 0;
        text-align: center;
        transition: opacity .2s ease-in-out;
    }

    li {
        position: relative;

        &:hover, &.active {
            background: var(--color-black);
            > a {
                color: var(--color-white);
            }
            .menu__icon {
                transform: scale(1.14);
            }
        }

        a {
            color: var(--color-contrast-medium);
            text-decoration: none;
            padding-top: 1em;
            display: flex;
            align-items: center;
            flex-direction: var(--navMenuItemFlexDirection);
            justify-content: var(--navMenuItemJustifyContent);
            padding: var(--navMenuItemPadding);
        }

        .text {
            text-transform: unset;
            display: var(--navMenuItemTitleDisplay);
            margin: var(--navMenuItemTitleMargin);
            font-size: var(--navMenuItemTitleFontSize);
            font-weight: bold;
        }
    }

    &__icon {
        font-size: 2em;
        margin: var(--navMenuItemIconMargin);
        transition: transform 240ms cubic-bezier(0.18,1.4,0.4,1);
    }

    &__settings {
        display: flex;
        justify-content: var(--navMenuItemJustifyContent);
        align-items: center;
        background: transparent;
        height: 84px;
        border: var(--color-contrast-medium);
        cursor: pointer;
        position: relative;
        width: calc(100% - 20px);
        padding: var(--menuProfilePadding);
        width: 100%;

        a {
            color: var(--color-contrast-medium);

            &.active {
                color: white;
            }
        }
    }

    &::-webkit-scrollbar {
        display: none;
    }
}

.page-content__container {
    display: flex;
    flex-wrap: wrap;
}

@include media ("<m") {
    .menu ul {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        margin: 0;

        li a {
            padding: 2em 0;
        }
    }
}

.settings:hover {
    background: var(--color-black);
    color: var(--color-white);
}

.page-content {
    background: var(--pageBackground);
    min-height: calc(100vh - var(--headerHeight) - 80px);
    margin: 0 0 0 var(--navWidth);
    padding: var(--pageContentPadding);
}

@include media ("<m") {
    .page-content {
        margin: 0;
    }
}

.page-tabs {
    position: sticky;
    top: 64px;
    margin-top: -64px;
    border-bottom: 1px solid var(--color-contrast-low);
    width: 80%;
    height: 100%;
    z-index: 1;
    &__container {
        background: var(--pageBackground);
        display: flex;
        margin: auto calc(0px - var(--space-md));
        padding: 0 var(--space-md);
        padding-top: var(--space-md);
        justify-content: flex-start;
        overflow-x: auto;
        &::-webkit-scrollbar {
            display: none;
        }
    }

    &__tab {
        padding: 16px 5px 15px;
        margin-right: 30px;
        border-bottom: 3px solid transparent;
        color: var(--color-contrast-medium);
        display: flex;
        align-items: center;
        font-size: 13px;
        position: relative;
        text-decoration: none;

        i {
            padding-right: 0.5em;
        }

        &.active {
            color: var(--color-black);
            border-bottom-color: var(--color-black);
        }
    }
}

.details-sidebar {
    top: calc(var(--headerHeight) + var(--space-sm));
    margin-left: 2%;
    position: sticky;
    background: var(--color--white);
    box-sizing: border-box;
    width: var(--detailsSidebarWidth);

    &__container {
        display: flex;
        flex-direction: column;
    }
}

.clearfix:after {
    clear: both;
    content: '.';
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}

.component-card {
    background: var(--color-white);
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0,0,0,.2);
    box-sizing: border-box;
    margin-top: 18px;
    padding: var(--space-md);
    position: relative;
    &__first {
        margin-top: var(--tabsHeight);
    }
}

.component-card__asset {
    width: 80%;
}

.component-card__tab {
    position: relative;
    width: 80%;
}

.scale__live-weight {
    max-width: 316px;
    padding: 1.5em 0;
}

.asset__documents {
    display: flex;
    flex-direction: column;

}

.asset__documents-group {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.asset__document-item {
    display: flex;
    i {
	      font-size: var(--text-lg);
    }
}

.asset__document-item:first-child {
    width: 40%;
}

.asset__document-item:nth-child(2) {
    width: 20%;
}

.document-item__info {
    color: var(--color-secondary-light);
}

.asset__documents-group:not(:last-child) {
    border-bottom: 1px solid var(--color-secondary-lighter);
    margin-bottom: var(--space-sm);
    padding-bottom: var(--space-sm);
}

.details-row {
    display: flex;
    justify-content: space-between;
}

.details-heading {
    font-weight: bold;
    padding-bottom: var(--space-sm);
}

.details-row > *:not(:last-child) {
    margin-bottom: var(--space-sm);
}

.details-label {
    font-weight: 400;
    color: var(--color-contrast-medium);
}

.details-value {
    font-weight: 700;
    color: var(--color-contrast-high);
    text-align: right;
}

.hr {
    border-bottom: 1px solid var(--color-contrast-medium);
    display: block;
    margin-bottom: 6px;
    padding-bottom: 6px;
    width: 100%;
}

.box__container {
    display: flex;
    flex-wrap: wrap;
}

.box__container > * {
    margin-bottom: 1rem;
}

.scale__cell-container > * {
    width: 150px;
}

.scale-component-box__container > * {
    width: 400px;
}

.box__container > *:not(:last-child) {
    margin-right: 1rem;
}

.box {
    background: $grey-lighten-5;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    overflow: hidden;
    border: 1px solid $grey-lighten-1;
}

.box__header {
    display: flex;
    justify-content: space-between;
    padding: 8px;
}

.scale-cell-box__header, .scale-component-box__header {
    background: $grey-lighten-2;
}

.scale-live-weight-box__header {
    background: black;
}

.scale-cell-box__header--active {
    background: $red-darken-1;
}

.box__name {
    font-weight: bold;
    text-transform: uppercase;
}

.scale-live-weight-box__name {
    color: white;
}

.scale-live-weight-box__live-weight {
    font-size: var(--text-xxxl);
    padding: var(--space-xxxs) 0;
}

.scale-cell-box__name--progress {
    text-transform: none;
    color: white;
}

.scale-cell-box__name--error {
    color: white;
}

.box__icon {
    color: $green-accent-4;
}

.scale-cell-box__icon--error {
    color: white;
}

.box__body {
    padding: 8px;
    color: $grey-darken-2;
}

.scale-live-weight-box__body {
    color: black;
    display: flex;
    font-weight: bold;
    justify-content: flex-end;
    align-items: baseline;
}

.scale-cell-box__body--error {
    background: $red-darken-1;
    color: white;
}

.scale-tab__container {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    border-bottom: 1px solid $grey-lighten-2;
}

.scale-tab__container > * {
    min-width: 180px;
}

.scale-tab__container > *:not(:last-child) {
    margin-right: .2rem;
}

.scale-tab__box {
    display: flex;
    cursor: pointer;
    justify-content: space-between;
    align-items: center;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background: $grey-darken-2;
    border: 1px solid $grey-lighten-2;
    padding: 8px;
    margin-bottom: -1px;
}

.scale-tab__box--active {
    background: $red-darken-1;
    cursor: initial;
    border-bottom: 1px solid transparent;
    position: relative;
}

.scale-tab__name {
    font-weight: bold;
    color: $grey-lighten-2;
}

.scale-tab__icon {
    color: $grey-lighten-2;
}

.scale-tab__name--active, .scale-tab__icon--active {
    color: white;
}

.scale-tabs-section {
    background: $red-darken-1;
    padding: 2rem;
    width: 100%;
    min-height: 200px;
}

.scale-tab-content__container {
    border-radius: 4px;
    overflow: hidden;
    background: white;
    border: 1px solid $grey-lighten-1;
}

.scale-tab-content__header {
    display: flex;
    align-items: center;
    padding-left: 1rem;
    background: $grey-lighten-4;
    height: 50px;
    font-weight: bold;
    color: $grey-darken-2;
}

.scale-tab-content__body {
    padding: 2rem;
}

.scale-tab-content__footer {
    height: 50px;
    background: $grey-lighten-4;
}

.modal-wrapper {
    display: flex;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 1040
}

.modal-backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.6;
    z-index: 1;
    animation: fade-in 0.2s;
}

.modal-child {
    width: 80%;
    margin: auto;
    z-index: 2;
    animation: fade-in-child 0.2s;
}

@keyframes fade-in {
    from {opacity: 0;}
    to   {opacity: 0.6;}
}

@keyframes fade-in-child {
    from {opacity: 0;}
    to   {opacity: 1;}
}

.modal__box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid $grey-lighten-1;
    width: 95%;
    max-width: 1000px;
    border-radius: 4px;
    overflow: hidden;
}

.modal__box-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 8px;
    background: var(--color-contrast-high);
    &--error {
        background: var(--color-primary);
    }
}

.modal__box-header-title {
    margin-left: 1rem;
    color: white;
    font-weight: bold;
}

.modal__box-header-icon {
    cursor: pointer;
}

.modal__box-body {
    padding: 1rem calc(1rem + 8px);
    background: white;
    max-height: 70vh;
    overflow-y: scroll;
}

.modal__box-footer {
    height: 40px;
    background: $grey-lighten-3;
}

.scale-cell-data {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.scale-cell-data__title {
    width: 100%;
    font-weight: bold;
}

.scale-cell-data-details__container,
.scale-cell-data-specs__container,
.scale-cell-data-conn__container,
.scale-cell-data-img__container, {
    margin-top: 1.5rem;
    width: 47%;
}

.scale-cell-data__details {
    display: flex;
    padding: 0.5rem 0;
    justify-content: space-between;
    border-top: solid 1px $grey-darken-1;
}

.scale-cell-data__details:last-child {
    border-bottom: solid 1px $grey-darken-1;
}

.scale-cell-data-details__label,
.scale-cell-data-details__value {
    font-weight: bold;
}

.scale-cell-data__specs {
    display: flex;
    padding: 0.5rem 0;
    color: $grey-darken-2;
}

.scale-cell-data-specs__label,
.scale-cell-data-specs__value {
    width: 50%;
}

.scale-cell-data-conn__container {
    display: flex;
    padding: 0.5rem 0;
    justify-content: space-between;
    border-top: solid 1px $grey-darken-1;
    border-bottom: solid 1px $grey-darken-1;
}

.scale-cell-data-conn__label-group {
    display: flex;
    align-items: center;
}

.scale-cell-data-conn__label,
.scale-cell-data-conn__label-icon,
.scale-cell-data-conn__value {
    font-weight: bold;
    color: $red-darken-3;
}

.scale-cell-data-conn__label-icon {
    padding-right: 0.3rem;
}

.scale-cell-data-conn__error {
    margin-top: 0.5rem;
}

.scale-cell-data-img__container {
    min-height: 250px;
}

.info-group__flex-parent > *:not(:last-child) {
    margin-bottom: .5rem;
}

.customer {
    text-align: left;
}

.customer__name {
    font-size: 1.5rem;
    margin: auto 0;
}

.customer__city {
    margin: 0 auto;
    margin-top: 0.5rem;
}

.customer__details {
    color: black;
    text-decoration: none;
}

.footer {
    width: 100%;
    min-height: 200px;
    margin-top: 6rem;
    color: white;
    background: black;
}


.breadcrumb--mobile {
    display: none;
}

.asset-first-card {
    margin-top: -100px;
}

@include media ("<m") {

    .asset-first-card {
        margin-top: 1rem;
    }

    .page-content {
        padding: var(--space-lg);
    }

    .component-card {
        width: 100%;
    }

    .scale__cell-container > * {
        width: 45%;
    }

    .scale__cell-container .modal {
        width: 100%;
    }

    .box__container > *:not(:last-child) {
        margin-right: var(--space-sm);
    }

    .scale-live__box {
        width: 94%;
    }

    .details-sidebar {
        width: 100%;
        margin-top: var(--space-lg);
        margin-left: 0;
        top: initial;
        position: initial;
    }

    .scale-cell-data-details__container,
    .scale-cell-data-specs__container,
    .scale-cell-data-conn__container,
    .scale-cell-data-img__container, {
        width: 100%;
    }

    .scale-cell-data-details__container {
        order: 2;
    }
    .scale-cell-data-specs__container {
        order: 3;
    }
    .scale-cell-data-conn__container {
        order: 1;
    }
    .scale-cell-data-img__container {
        order: 4;
    }

    .header__nav--mobile {
        display:none;
    }

    .breadcrumb--mobile {
        display: block;
        margin-bottom: var(--space-md);
    }

    .page-tabs {
        width: 100%;
    }

    .page-tabs__container {
        padding-left: 0;
        padding-right: 0;
    }

    .component-card__tab {
        width: 100%;
    }

    .asset__document-item:first-child {
	      width: 100%;
	      margin-bottom: var(--space-xs);
    }

    .asset__document-item:nth-child(2) {
	      width: 100%;
	      margin-bottom: var(--space-xs);
    }

    .asset__documents-group {
        justify-content: space-between;
    }
}

.select {
    position: absolute;
    white-space: nowrap;
    overflow: auto;
    max-width: 400px;
    max-height: 300px;
    margin-top: var(--space-xxs);
    z-index: 5;
    line-height: 1;
    box-shadow: var(--shadow-xs);
    background: var(--color-white);
    border-radius: var(--btn-radius, 0.25em);

    &--show {
        display: block;
    }

    &--hide {
        display: none;
    }

}

.option {
    cursor: pointer;
    padding-top: var(--btn-padding-y, 0.5em);
    padding-bottom: var(--btn-padding-y, 0.5em);
    padding-left: var(--btn-padding-x, 0.75em);
    padding-right: var(--btn-padding-x, 0.75em);

    &:hover {
        background: var(--color-contrast-low);
    }
}

.form {
    &__label {
        color: var(--color-secondary);
        font-weight: bold;
        text-transform: uppercase;
        font-size: var(--text-sm);
        margin-bottom: var(--space-xs);
    }

    .form-control {
        width: 100%
    }

    &__submit {
        margin-top: var(--space-md);
        font-weight: bold;
        background: var(--color-success);
        color: white;
    }
}

.profile-component__form {
    max-width: 300px;
    width: 100%;
}

.underline {
    text-decoration: underline;
}
