{:PROJECTNAMESPACE.PROJECTNAME.api/origin  #profile {:dev "http://localhost:5001/"
                                                     :test "http://localhost:5002/"
                                                     :prod "PRODURL"}
 :edge.kick/config
 {:kick.builder/target #profile {:dev "target/dev"
                                 :prod "target/prod"}
  :kick/sass {:builds #profile {:prod [{:id "app"
                                        :source "sass/app.scss"
                                        :target "public/app.css"}
                                       {:id "dashboard"
                                        :source "sass/dashboard.scss"
                                        :target "public/dashboard.css"}]
                                :dev []}}
  :kick/figwheel-main {:builds [{:id "app"
                                 :main PROJECTNAMESPACE.PROJECTNAME.frontend.app.main
                                 :output-to "public/app.js"
                                 :output-dir "public/app.out"
                                 :asset-path "/app.out"
                                 :clean-outputs true
                                 :open-url false
                                 :closure-defines {PROJECTNAMESPACE.PROJECTNAME.frontend.dev/dev #profile
                                                   {:dev true :prod false}
                                                   PROJECTNAMESPACE.PROJECTNAME.frontend.dev/route
                                                   #ref [:PROJECTNAMESPACE.PROJECTNAME.api/origin]}
                                 :optimizations #profile {:dev :none
                                                          :prod :advanced}
                                 :devcards true}
                                {:id "dashboard"
                                 :main PROJECTNAMESPACE.PROJECTNAME.frontend.dashboard.main
                                 :output-to "public/dashboard.js"
                                 :output-dir "public/dashboard.out"
                                 :asset-path "/dashboard.out"
                                 :clean-outputs true
                                 :open-url false
                                 :closure-defines {PROJECTNAMESPACE.PROJECTNAME.frontend.dev/dev #profile
                                                   {:dev true :prod false}
                                                   PROJECTNAMESPACE.PROJECTNAME.frontend.dev/route
                                                   #ref [:PROJECTNAMESPACE.PROJECTNAME.api/origin]}
                                 :optimizations #profile {:dev :none
                                                          :prod :advanced}
                                 :devcards true}]
                       :figwheel-config
                       {:ring-server-options {:port 2451}
                        :extra-main-files {:devcards {:main PROJECTNAMESPACE.PROJECTNAME.frontend.devcards.main}}}}}

 :ig.system/base
 {:juxt.crux.ig/system #profile {:default {:crux.node/topology [crux.standalone/topology
                                                                crux.kv.rocksdb/kv-store
                                                                crux.http-server/module]
                                           :crux.standalone/event-log-kv-store crux.kv.rocksdb/kv
                                           :crux.standalone/event-log-dir #profile {:dev "data/eventlog"
                                                                                    :test "data/test-eventlog"}
                                           :crux.kv/db-dir #profile {:dev "data/db-dir"
                                                                     :test "data/test-db-dir"}}
                                 :test {:crux.node/topology [crux.standalone/topology]
                                        :crux.standalone/event-log-kv-store crux.kv.rocksdb/kv}}
  :PROJECTNAMESPACE.PROJECTNAME.api/aleph
  {:port #profile {:prod 5000
                   :test 5002
                   :default 5001}
   :handler #ig/ref :PROJECTNAMESPACE.PROJECTNAME.api/ring}
  :PROJECTNAMESPACE.PROJECTNAME.api/ring
  {:router #ig/ref :PROJECTNAMESPACE.PROJECTNAME.api/router
   :error-registry #ig/ref :PROJECTNAMESPACE.PROJECTNAME.api/error-registry
   :resource-root "public"}

  :PROJECTNAMESPACE.PROJECTNAME.api.routes/routes
  {:middleware #profile {:test [:parameters
                                :format-negotiate
                                [:PROJECTNAMESPACE.PROJECTNAME-errors
                                 #ig/ref :PROJECTNAMESPACE.PROJECTNAME.api/error-registry]
                                [:identity {:auth-method
                                            #profile {:default nil
                                                      :prod :cognito}}]
                                :format-request
                                :coerce-response
                                :coerce-request
                                :properties
                                :deferred]
                         :default [:parameters
                                   :format-negotiate
                                   :format-response
                                   [:PROJECTNAMESPACE.PROJECTNAME-errors
                                    #ig/ref :PROJECTNAMESPACE.PROJECTNAME.api/error-registry]
                                   [:identity {:auth-method
                                               #profile {:default nil
                                                         :prod :cognito}}]
                                   :format-request
                                   :coerce-response
                                   :coerce-request
                                   :properties
                                   :deferred]}
   :components {:node #ig/ref :juxt.crux.ig/system
                :secret "395609d0-621b-4f02-838a-a2353addbd9a"
                :error-registry
                #ig/ref :PROJECTNAMESPACE.PROJECTNAME.api/error-registry
                :origin #ref [:PROJECTNAMESPACE.PROJECTNAME.api/origin]
                :event-bus #ig/ref :PROJECTNAMESPACE.PROJECTNAME.api/event-bus}}
  :PROJECTNAMESPACE.PROJECTNAME.api/router {:request-diffs :debug
                                            :pretty-router-exceptions? true
                                            :routes [#ig/ref :PROJECTNAMESPACE.PROJECTNAME.api.routes/routes]}
  :PROJECTNAMESPACE.PROJECTNAME.api/error-registry {:registry-resource "errors.edn"}
  :PROJECTNAMESPACE.PROJECTNAME.api/seed {:node #ig/ref :juxt.crux.ig/system
                                          :seed-file-directory "/resources/seeds"}
  :PROJECTNAMESPACE.PROJECTNAME.api/event-bus nil}

 :ig.system/dev
 {:edge.kick/builder #ref [:edge.kick/config]
  :sass4clj.integrant/sass4clj
  {:source-paths ["src/sass"]
   :source-map true
   :target-path "resources/public/css"}}

 :ig/system #profile {:dev #merge [#ref [:ig.system/base]
                                   #ref [:ig.system/dev]]
                      :default #ref [:ig.system/base]}}
