{:not-found {:type :invalid-request
             :message "The endpoint {uri} requested does not exist."
             :status 404}
 :method-not-allowed {:type :invalid-request
                      :message "The endpoint {uri} does accept request method {method}."
                      :status 405}
 :not-acceptable {:type :invalid-request
                  :message "The endpoint {uri} does not generate content."
                  :status 406}
 :invalid-body {:type :invalid-request
                :message "Request body was invalid due to malformed request."
                :status 400}
 :invalid-field {:type :invalid-request
                 :message "The field {key} with value {value} was improperly formatted or of an invalid type."
                 :status 400}
 :missing-field {:type :invalid-request
                 :message "One or more fields are missing."
                 :status 400}
 :internal-server-error {:type :api-error
                         :message "Unable to process request due to an internal system issue."
                         :status 500}
 :account/suspended {:type :authn-error
                     :message "You cannot access this endpoint because your account \"{email}\" is suspended."
                     :status 403}
 :account/invalid-credentials {:type :authn-error
                               :message "Invalid email or password."
                               :status 401}
 :account/failed-password-policy {:type :account-creation-error
                                  :message "{message}"
                                  :status 400}

 :account/consumer-does-not-exist {:type :auth-error
                                   :message "An account with email \"{email}\" does not exist."
                                   :status 401}
 :account/already-exists {:type :account-creation-error
                          :message "An account with the email \"{email}\" already exists."
                          :status 409}
 :authz/not-found {:type :invalid-request
                   :message "The resource requested does not exist: {uri}."
                   :status 404}
 :authz/forbidden {:type :invalid-request
                   :message "Unauthorized request."
                   :status 403}
 :PROJECTNAMESPACE/invalid-message {:type :invalid-request
                                    :message "Received invalid request"
                                    :status 400}
 :PROJECTNAMESPACE/bad-secret {:type :invalid-request
                               :message "Missing or Incorrect shared secret. Body: {body}"
                               :status 401}
 :PROJECTNAMESPACE/asset-not-found {:type :invalid-request
                                    :message "An asset with the id {id} was not found in the database."
                                    :status 400}
 :PROJECTNAMESPACE/breach-not-found {:type :invalid-request
                                     :message "A breach for the asset id {id} was not found in the database."
                                     :status 400}
 :PROJECTNAMESPACE/asset-type-invalid {:type :invalid-request
                                       :message "We don't support breach searches for that asset type yet, sorry!"
                                       :status 400}
 :PROJECTNAMESPACE/customer-not-found {:type :invalid-request
                                       :message "A customer with the id {id} was not found in the database."
                                       :status 400}}
